@import './layout';
@import './variables';

body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.veil {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @veilColor;
  z-index: 100;
  &.isOpen {
    display: block;
    opacity: 1;
    transition: opacity .75s ease-in-out;
       -moz-transition: opacity .75s ease-in-out;
       -webkit-transition: opacity .75s ease-in-out;
  }
}

.hide {
  display: none;
  opacity: 0;
}
.show {
  display: block;
  opacity: 1;
  transition: opacity .25s ease-in-out;
     -moz-transition: opacity .25s ease-in-out;
     -webkit-transition: opacity .25s ease-in-out;
}

.isDragging {
  cursor: not-allowed;
}

/* Buttons */
[class*='btn'] {

}
[class*='vld'] {
  background-color: @validColor;
}
[class*='wrn'] {
  background-color: @warnColor;
}
[class*='err'] {
  background-color: @errorColor;
}
