
.main-container {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
}

/* Screens */

  /* ----------- Non-Retina Screens ----------- */
  @media screen
    and (min-width:1025px)
    and (max-width:1199px) {
    .main-container {
      width: 1024px;
    }
    .main-container, .full-height {
      height: 1024px / 2;
    }
  }
  @media screen
    and (min-height:576px)
    and (max-height:674px) {
    .main-container, .full-height {
      // height: 576px;
    }
  }
  @media screen
    and (min-width: 1200px)
    and (max-width: 1600px) {
      .main-container {
        width: 1200px;
      }
      .main-container, .full-height {
        height: 1200px / 2;
      }
  }
  @media screen
    and (min-height: 675px)
    and (max-height: 900px) {
      .main-container, .full-height  {
        // height: 675px;
      }
  }
  @media screen
    and (min-width: 1601px) {
      .main-container {
        width: 1600px;
      }
      .main-container, .full-height {
        height: 1600px / 2;
      }
  }
  @media screen
    and (min-height: 901px) {
      .main-container, .full-height  {
        // height: 900px;
      }
  }

  /* ----------- Retina Screens ----------- */
  @media screen
    and (min-width: 1200px)
    and (max-width: 1600px)
    and (-webkit-min-pixel-ratio: 2)
    and (min-resolution: 192dpi) {

  }
  /* Large screens ----------- */
  @media (min-width: 1601px)
    and (-webkit-min-pixel-ratio: 2)
    and (min-resolution: 192dpi) {

  }

/* Smartphones */

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-width : 320px) and (max-width : 480px) {

  }

  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {

  }

  /* iPhone 4 ----------- */
  @media only screen and (min-width : 320px) and (max-width : 480px) and (orientation : landscape) and (-webkit-min-pixel-ratio : 2) {

  }

  @media only screen and (min-width : 320px) and (max-width : 480px) and (orientation : portrait) and (-webkit-min-pixel-ratio : 2) {

  }

  /* iPhone 5 ----------- */
  @media only screen and (min-width: 320px) and (max-height: 568px) and (orientation : landscape) and (-webkit-pixel-ratio: 2){

  }

  @media only screen and (min-width: 320px) and (max-height: 568px) and (orientation : portrait) and (-webkit-pixel-ratio: 2){

  }

  /* iPhone 6 ----------- */
  @media only screen and (min-width: 375px) and (max-height: 667px) and (orientation : landscape) and (-webkit-pixel-ratio: 2){

  }

  @media only screen and (min-width: 375px) and (max-height: 667px) and (orientation : portrait) and (-webkit-pixel-ratio: 2){

  }

  /* iPhone 6+ ----------- */
  @media only screen and (min-width: 414px) and (max-height: 736px) and (orientation : landscape) and (-webkit-pixel-ratio: 2){

  }

  @media only screen and (min-width: 414px) and (max-height: 736px) and (orientation : portrait) and (-webkit-pixel-ratio: 2){

  }

  /* Samsung Galaxy S3 ----------- */
  @media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : landscape) and (-webkit-pixel-ratio: 2){

  }

  @media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : portrait) and (-webkit-pixel-ratio: 2){

  }

  /* Samsung Galaxy S4 ----------- */
  @media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : landscape) and (-webkit-pixel-ratio: 3){

  }

  @media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : portrait) and (-webkit-pixel-ratio: 3){

  }

  /* Samsung Galaxy S5 ----------- */
  @media only screen and (min-width: 360px) and (max-height: 640px) and (orientation : landscape) and (-webkit-pixel-ratio: 3){

  }

  @media only screen and (min-width: 360px) and (max-height: 640px) and (orientation : portrait) and (-webkit-pixel-ratio: 3){

  }


/* Tablets */

  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-width : 768px) and (max-width : 1024px) {
    .main-container {
      width: 767px;
    }
    .main-container, .full-height {
      height: 767px / 2;
    }
  }

  /* iPads (landscape) ----------- */
  @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {

  }

  /* iPads (portrait) ----------- */
  @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

  }
  /**********
  iPad 3
  **********/
  @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) and (-webkit-min-pixel-ratio : 2) {

  }

  @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) and (-webkit-min-pixel-ratio : 2) {

  }

/* Wearables */

  /* ----------- Apple Watch ----------- */
  @media
    (max-width: 42mm)
    and (min-width: 38mm) {

  }
  /* ----------- Moto 360 Watch ----------- */
  @media
    (max-width: 218px)
    and (max-height: 281px) {

  }
