.message {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  margin: auto;
  background-color: rgba(255,0,0,.7);
  z-index: 10100;

  &.removable {
    display: block;
  }
}
