.frameCtn {
  height: 100%;
  .frame {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    border: solid 1px pink;
    .innerFramePanel {
      position: absolute;
      background: white;
      z-index: 1000;
    }
  }
}
