.loader {
  position: relative;
  display: none;
  opacity: 0;
  margin: 100px auto;
  width: 40px;
  height: 40px;
  background-color: white;
  z-index: 10000;
  &.b1, .b2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-b 2.0s infinite ease-in-out;
    animation: sk-b 2.0s infinite ease-in-out;
  }
  &.b2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  &.active {
    display: block;
    opacity: 1;
    transition: opacity .75s ease-in-out;
       -moz-transition: opacity .75s ease-in-out;
       -webkit-transition: opacity .75s ease-in-out;
  }
}

@-webkit-keyframes sk-b {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-b {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
