.module {
  background-color: bisque;
  cursor: pointer;
  &.vertical {
    float: left;
  }
  &.selected {
    background-color: aliceblue;
  }
  &:hover {
    background-color: cadetblue;
  }
}
