.modal {
  position: relative;
  display: none;
  opacity: 0;
  padding: 10px;
  width: 400px;
  background-color: white;
  z-index: 10000;
  &.isOpen {
    display: block;
    opacity: 1;
    transition: opacity .75s ease-in-out;
       -moz-transition: opacity .75s ease-in-out;
       -webkit-transition: opacity .75s ease-in-out;
  }
}
