.colorSquare {
  height: 40px;
  width: 100px;
  margin: 5px 0;
  background-color: transparent;
  cursor: pointer;
  &.selected {
    border: 4px solid #4c4c4c;
  }
  &.hovered {
    background-color: cadetblue;
  }
}
