.dropZone {
  text-align: center;
  font-size: 20px;
  overflow: hidden;
  height: 100%;
  cursor: pointer;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 41px 1px rgba(0,0,0,0.75);
  &:before {
    content: 'Glissez une image';
    position: absolute;
  }
  &:hover {
    opacity: 0.5;
    &:before {
      content: 'Ajouter une image';
      position: absolute;
    }
  }
}
