.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  &.customBtn {
    background-color: #4CAF50;
  }
  &.resetBtn {
    background-color: lightgray;
  }

  &.pos-center {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
