.modules {
  position: relative;
  width: 100%;
  height: 100%;

  .leftSide, .centerSide, .rightSide {
    float: left;
  }

  .leftSide, .rightSide {
    height: 100%;
    .deck {
      width: 100%;
    }
  }
  .rightSide {
    .module {
      position: relative;
    }
  }
  .centerSide {
    height: 100%;
    .centerTopSide {
      width: 100%;
      height: auto;
    }
    .centerEmptySide {
      width: 100%;
    }
    .centerBottomSide {
      width: 100%;
      height: auto;
      .module {
        position: relative;
      }
    }
  }
}
